<h4> <%= product.name %> ID: <%= product.id %></h4>
<div id="product-<%= product.id %>"><%= truncate product.description %></div><br>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
