<div class="productName"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next...</a>
<h1 class="productPrice"><%= @product.price %></h1>
<h1 class="productInventory"><%= @product.inventory %></h1>
<p class="productDescription"><%= @product.description %></p>
