<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
  <%= link_to "See Product", product_path(product) %>
  <a class="js-next-page" href="#" data-id="<%= product.id %>">Next Page</a>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
  });
  });

  $('.js-next-page').on('click', function(){
      var nextId = parseInt(this.dataset["id"]) + 1
      $.getJSON('products/' + nextId + '/data', function(json){
          debugger

      });
  });
});
</script>
