<a href="#" class="js-next" data-id="<%= @product.id %>">Next Product</a>
<h1 class="productName"><%= @product.name %></h1>
<p class="productDescription"><%= @product.description %></p>
<p class="productInventory"><%= @product.inventory %></p>
<p class="productPrice"><%= @product.price %></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/products/" + nextId + "/data", function(data) {
        $(".productName").text(JSON.parse(data)["name"]);
        $(".productDescription").text(JSON.parse(data)["description"]);
        $(".productInventory").text(JSON.parse(data)["inventory"]);
        $(".productPrice").text(JSON.parse(data)["price"]);
  
        var currentId = JSON.parse(data)["id"]
        $(".js-next").attr("data-id", currentId);
      })
    })
  })
</script>