<h1 class='productName' ><%= @product.name%></h1>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<ul>
  <li class="productPrice" ><%=@product.price%></li>
  <li class="productInventory"><%=@product.inventory%></li>
  <li class="productDescription"><%=@product.description%></li>
</ul>
<script type="text/javascript">
  $(function(){
    $('.js-next').on('click', function(){
      var nextProduct = parseInt($('.js-next').attr('data-id')) + 1
      $.get('/products/' + nextProduct + '/data', function(data){
        // debugger
        $('.productName').html(data['name'])
        $('.productPrice').text(data['price'])
        $('.productInventory').text(data['inventory'])
        $('.productDescription').text(data['description'])
      })
    })
  })
</script>
