
<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>

<h3 class="productName">Name: <%= @product.name %> </h3>
<p class="productId">ID: <%= @product.id %> </p>
<p class="productDescription">Description: <%=@product.description %></p>
<p class="productPrice">Price: <%=@product.price %></p>
<p class="productInventory">Inventory: <%= @product.inventory %></p>
<script type="text/javascript" charset="utf-8">


$(function () {
    $(".js-next").on("click", function(e) {
      e.preventDefault();
        const nextId = parseInt($(".js-next").attr("data-id")) + 1;
        $.getJSON("/products/" + nextId + "/data",
          function(data) {
            $(".productId").text(data["id"]);
            $(".productName").text(data["name"]);
            $(".productDescription").text(data["description"]);
            $(".productPrice").text(data["price"]);
            $(".productInventory").text(data["inventory"]);
              // re-set the id to current on the link
            $(".js-next").attr("data-id", data["id"]);
        });
    });
  });
</script>
