<div class="name">Name: <%= @product.name %></div>
<a href="#" class="js-next" data-id="<%= @product.id%>">Next Product</a>
<p class="price">Price: <%= @product.price %></p>
<p class="inventory">Number Available: <%= @product.inventory %></p>
<p class="description">Description: <%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-next").on("click", function(){
      var id = parseInt($(this).data("id")) + 1;
      $.get("/products/" + id + "/data", function(data){
        $(".name").text(data["name"]);
        $(".price").text(data["price"]);
        $(".inventory").text(data["inventory"]);
        $(".description").text(data["description"]);
      });
    });
  });
</script>