<h3 class="product-name"><%=@product.name%></h3>
<a href="#" class="js-next-product" data-id="<%=@product.id%>">Next Product</a>
<p class="product-descr"> <%=@product.description%></p>
<p class="product-price"> Price: $<%=@product.price%></p>
<p class="product-inventory"> Stock: <%=@product.inventory%></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next-product").on('click', function () {
      debugger;
      var nextId = parseInt($(this).attr("data-id")) + 1;
      $.get("/products/" + nextId + "/data", function (data) {
        debugger;
        $(".product-name").text(data["name"])
        $(".product-descr").text(data["description"])
        $(".product-price").text(data["price"])
        $(".product-inventory").text(data["inventory"])
        $(".js-next").attr("data-id", data["id"]);
      });
    });

  })
</script>
