<h2 class="productName"><%= @product.name %></h2>
<h3>
  $<span class="productPrice"><%= @product.price %></span>
  (<span class="productInventory"><%= @product.inventory %></span> available)
</h3>
<p class="productDescription"><%= @product.description %></p>
<a href="#" class="js-next" data-id="<%= @product.id %>">Next Product</a>

<script type="text/javascript">
  $(function() {
    $(".js-next").on("click", function() {
      let nextId = parseInt($(".js-next").attr("data-id")) + 1
      $.getJSON("/products/" + nextId + "/data", function(data) {
        $(".productName").text(data["name"])
        $(".productPrice").text(data["price"])
        $(".productInventory").text(data["inventory"])
        $(".productDescription").text(data["description"])

        $(".js-next").attr("data-id", data["id"])
      })
    })
  })
</script>
