
  <h1>Product <%= @product.id %> : <%= @product.name %></h1>
  <ul>
    <li>Price: <%= @product.price %></li>
    <li>Inventory: <%= @product.inventory %></li>
    <li>Description: <%= @product.description %></li>
  </ul>
</div>
<a href="#" class="js-more" data-id="<%= @product.id + 1 %>">Next Product</a>



<div id="product-<%= @product.id + 1 %>"></div>
  

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function(event) {
    event.preventDefault();
    var id = $(this).data("id");
    
    $.get("/products/" + id + "/data", function(data) {
      
      
        $("#product-" + id).append("ID: " + data.id + "<br>");
        $("#product-" + id).append("Name: " + data.name + "<br>");
        $("#product-" + id).append("Description: " + data.description + "<br>");
       

           
    });
  });
});
</script>