<hr>
<h2 class="productName"><%= @product.name %></h2>
<div class="productPrice">Price: $<%= @product.price %></div>
<p class="productDescription">Description: <%= @product.description %></p>
<p class="productInventory">Inventory: <%= @product.inventory %></p>
<br>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next...</a>
