<div class="productName"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%= @product.id %>">Next...</a>
<div class="productDescription"><%= @product.description %></div>
<div class="productInventory"><%= @product.inventory %></div>
<div class="productPrice"><%= @product.price %></div>



<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/products/" + nextId + "/data", function(data) {
      $(".productName").text(data["name"]);
      $(".productDescription").text(data["description"]);
      $(".productInventory").text(data["inventory"]);
      $(".productPrice").text(data["price"]);
      $(".js-next").attr("data-id"), data["id"];
    });
  });
});
</script>