

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerPath</title>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


a {
  text-decoration: none;
  color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    max-width: 900;
}


.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 1500px;
}



input[type=text], select {
    width: 320px;
    height: 35px;
    padding: 12px 20px;
    margin: 0 0 20px;
    display: inline-block;
    border: 1px solid #5b4f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

    /*resize: vertical;*/
}

input[type=text]:focus {
    background-color: lightblue;
}




 

/* Create three equal columns that floats next to each other */
.column {
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
    float: left;
    width: 33.33%;
    padding: 35px;
    height: 600px; /* Should be removed. Only for demonstration */
}

.left-column {
  margin: auto;
  text-align: left;
  padding: 35px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#small-fields {
    text-align: center;
    float: left;
    width: 40%;
    padding-top: 35px;
    border: solid 1px;
    height: 1200px; /* Should be removed. Only for demonstration */
}

#large-fields {
    text-align: center;
    border: solid 1px;
    float: left;
    width: 60%;
    padding: 35px 30px 0 0;
    height: 1200px; /* Should be removed. Only for demonstration */
}


.right-column-upper {
    float: right;
    width: 33.33%;
    padding: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
}

.right-column-lower {
    float: right;
    width: 33.33%;
    padding: 35px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
    height: 386px;
}





</style>







  </head>

  <body>

    <div class='wrapper'>

  <ul>
    <li> <%= link_to "Dashboard", jobs_path %></li>
    <li><a href="#news">Timeline</a></li>
    <li><a href="#contact">Portfolio</a></li>
    <li><a href="#about">Network</a></li>
    <li><a href="#about">Profile</a></li>
  </ul>
    <header>

    </header>
    <main role="main">

       <%= yield %>
    </main>
                
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </div> 
  </body>
</html>